*{

margin:0;

padding:0;

box-sizing:border-box;

}



body{

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

font-family:Arial,sans-serif;

background:

linear-gradient(
135deg,
#4988a1,
#6581dd,
#56caf8
);

overflow:hidden;

}




body::before{

content:"";

position:absolute;

width:500px;

height:500px;

background:

rgba(214, 177, 54, 0.08);

border-radius:50%;

top:-150px;

left:-100px;

}




body::after{

content:"";

position:absolute;

width:400px;

height:400px;

background:

rgba(
34,
139,
34,
0.10
);

border-radius:50%;

bottom:-120px;

right:-80px;

}




.login-container{

position:relative;

z-index:2;

width:380px;

padding:35px;

background:

rgba(
255,
255,
255,
0.08
);

backdrop-filter:

blur(
12px
);

border:

1px solid

rgba(
255,
255,
255,
0.15
);

border-radius:22px;

box-shadow:

0 15px 40px

rgba(
0,
0,
0,
0.35
);

}




h2{

text-align:center;

margin-bottom:30px;

color:

#f8f8fa;

font-size:32px;

letter-spacing:2px;

}




input{

width:100%;

padding:14px;

margin-bottom:18px;

border:none;

border-radius:12px;

outline:none;

background:

rgba(
255,
255,
255,
0.10
);

color:white;

font-size:15px;

}




input::placeholder{

color:

rgba(
255,
255,
255,
0.75
);

}




input:focus{

border:

2px solid

#5568d6;

}




button{

width:100%;

padding:14px;

border:none;

border-radius:12px;

cursor:pointer;

font-size:16px;

font-weight:bold;

background:

linear-gradient(
90deg,
#344bcf,
#2843bd
);

color:black;

transition:.3s;

}




button:hover{

transform:

translateY(
-2px
);

box-shadow:

0 8px 20px

rgba(
212,
175,
55,
0.35
);

}




.error{

margin-top:15px;

text-align:center;

color:

#36a3be;

display:none;

}